@model UsmFicheroWeb.UsuarioAsignatura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UsuarioAsignatura</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuarios.Dv)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuarios.Dv)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Asignaturas.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asignaturas.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Año)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Año)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Semestre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semestre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nota1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nota1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nota2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nota2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nota3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nota3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nota4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nota4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nota5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nota5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Paralelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Paralelo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
