@model UsmFicheroWeb.Horarios
@Styles.Render("~/Content/bootstrap")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@{
    ViewBag.Title = "Eliminar Horario";
}

<h2>Eliminar Horario</h2>

<h3>Estas seguro de eliminarlo?</h3>
<fieldset>
    <legend>Horarios</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Asignaturas.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asignaturas.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modificado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modificado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hora.CodHora)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hora.CodHora)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salas.CodSala)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salas.CodSala)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuarios.Dv)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuarios.Dv)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaModi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaModi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Paralelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Paralelo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p class="btn btn-danger">
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
