@model UsmFicheroWeb.Horarios
@Styles.Render("~/Content/bootstrap")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@{
    ViewBag.Title = "Editar Horario";
}

<h2>Editar Hora del horario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Horarios</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodAsignatura, "Asignaturas")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CodAsignatura", String.Empty)
            @Html.ValidationMessageFor(model => model.CodAsignatura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modificado)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Modificado)*@
            @Html.DropDownList("Modificado", new List<SelectListItem>
              {
              new SelectListItem{ Text = "Nuevo", Value = "0" },
              new SelectListItem{ Text = "No", Value = "0" },
              new SelectListItem{ Text = "Si", Value = "1" },
            }, new { onchange = "getAlldata()" })
            @Html.ValidationMessageFor(model => model.Modificado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodHora, "Hora")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CodHora", String.Empty)
            @Html.ValidationMessageFor(model => model.CodHora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dia)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Dia)*@
            @Html.DropDownList("Dia", new List<SelectListItem>
              {
              new SelectListItem{ Text = "Lunes", Value = "1" },
              new SelectListItem{ Text = "Martes", Value = "2" },
              new SelectListItem{ Text = "Miercoles", Value = "3" },
              new SelectListItem{ Text = "Jueves", Value = "4" },
              new SelectListItem{ Text = "Viernes", Value = "5" },

            }, new { onchange = "getAlldata()" })
            @Html.ValidationMessageFor(model => model.Dia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodSala, "Salas")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CodSala", String.Empty)
            @Html.ValidationMessageFor(model => model.CodSala)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RutProfesor, "Profesor que imparte:")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RutProfesor", String.Empty)
            @Html.ValidationMessageFor(model => model.RutProfesor)
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.FechaModi)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FechaModi)
                @Html.ValidationMessageFor(model => model.FechaModi)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Paralelo)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Paralelo)*@
            @Html.DropDownList("Paralelo", new List<SelectListItem>
              {
              new SelectListItem{ Text = "A", Value = "A" },
              new SelectListItem{ Text = "B", Value = "B" },

            }, new { onchange = "getAlldata()" })
            @Html.ValidationMessageFor(model => model.Paralelo)
        </div>

        @*LA KEY COMPUESTA ANTERIOR (CodAsignatura, Dia, CodHora, Modificado, Paralelo), NO LA VE EL USUARIO*@
        <div style="display:none">@Html.TextBoxFor(model => model.CodAsignatura, new { Name = "_codAsig", id = "_codAsig" })</div>
        <div style="display:none">@Html.TextBoxFor(model => model.Dia, new { Name = "_dia", id = "_dia" })</div>
        <div style="display:none">@Html.TextBoxFor(model => model.CodHora, new { Name = "_codHora", id = "_codHora" })</div>
        <div style="display:none">@Html.TextBoxFor(model => model.Modificado, new { Name = "_modificado", id = "_modificado" })</div>
        <div style="display:none">@Html.TextBoxFor(model => model.Paralelo, new { Name = "_paralelo", id = "_paralelo" })</div>
        @*FIN DE LO QUE NO VEO EL USUARIO*@

        <p>
            <input type="submit" value="Modificar" />
        </p>
    </fieldset>
}

<div class="btn btn-danger">
    @Html.ActionLink("Regresar", "PrivadoProfe", "Login")
</div>

<h3>Horario de ejemplo: </h3>
<div>
    Incide corresponde al numero a elegir para crear
</div>
<div>

    <table class="table">
        <tr>
            <th>(Indice)Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
        @foreach (var item in ViewBag.ListCalendario)
        {
            <tr>
                <td>@item[0]</td>
                <td>@item[1]</td>
                <td>@item[2]</td>
                <td>@item[3]</td>
                <td>@item[4]</td>
                <td>@item[5]</td>

            </tr>
        }
    </table>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
