@model IEnumerable<UsmFicheroWeb.Hora>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraTermino)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraTermino)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodHora/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id = item.CodHora/* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CodHora/* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
