@model UsmFicheroWeb.Carreras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Carreras</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCarrera)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCarrera)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RutJefeCarrera)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RutJefeCarrera)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreCarrera)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCarrera)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Departamentos.RutJefeDepto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Departamentos.RutJefeDepto)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
