@model IEnumerable<UsmFicheroWeb.Departamentos>
@Styles.Render("~/Content/bootstrap")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@{
    ViewBag.Title = "Inicio Departamento: ";
}

<header>
    <div class="wrappr">
        <div class="UsuarioActual">
            Administrador:  <b>@ViewData["UsuarioActualNombre"]</b>
        </div>
        <div>
            <p class="site-title">@Html.ActionLink("Fichero Usm", "Index", "Home", new { @style = "color:white" })</p>
        </div>
        <div class="float-right">
            <nav>
                <ul id="menu">
                    <li id="m1">@Html.ActionLink("Cerrar Sesion", "Index", "Login")</li>
                    @*<li id="m2">@Html.ActionLink("Perfil Privado", "Privado", "Login")</li>
                        <li id="m3">@Html.ActionLink("Perfil General", "General", "Login")</li>*@
                </ul>
            </nav>
        </div>
    </div>
</header>

<h2>Administración</h2>
<style>
    .fila {
        overflow: hidden;
    }
         .UsuarioActual {
        float:right;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 50px;
        padding-left: 80px;
    }

    .celda {
        padding: 0.25em 2em 0.25em .5em;
        border: 0 none;
        width: 100px;
        height: 50px;
        float: left;
        border: solid;
    }

    .celda2 {
        padding: 0.25em 2em 0.25em .5em;
        border: 0 none;
        width: 100px;
        height: 20px;
        float: left;
        border: solid;
        text-align: center;
    }

    .wrappr {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }
</style>

<p>
    @Html.ActionLink("Crear Nuevo Departamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Jefe Departamento
        </th>
        <th>
            Nombre Departamento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutJefeDepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDepartamento)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.IdDepartamento }) |
            @*@Html.ActionLink("Ver", "Details", new { id = item.IdDepartamento }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdDepartamento })
        </td>
    </tr>
}

</table>
<p class="btn btn-danger">
    @Html.ActionLink("Regresar", "Index", "Adminstrador")
</p>
